
/*setting body max widht and center */
body {
	max-width: 85%;
	margin: auto;
}
/*formating nav bar lines */
li{
	display: inline-block;
	font-size: 1.6em;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-right: 3%;
}
/*header background color and margin*/
header {
	background-color:#CABBB7;
	margin-top: 1%;
}
/*font edit nav lines*/
a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-family: Arial,Helvetica,sans-serif;
}
/* navbar background color and text align*/
nav {
	background-color: #C65252;
	text-align: right;
	color: red;
}
/*footer background color, text align, padding */
footer {
	width: 100%;
	background-color: #CABBB7;
	text-align: center;
	padding-top: 1.5%;
	padding-bottom: 1%;
	margin-bottom: 1%;
	display: inline-block;	
}
article {
	display: block;
	text-align: center;
	}
/* h1 font and positioning */
#hero {
	margin-bottom: 8%;
	text-align: center;
	font-size: 60px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
/* Header Logo positioning and scaling*/
#Hlogo {
	width: 25%;
	height: auto;
	float: right;
	margin-right: 2%;
	margin-top: 2%;
}
/*Footer logo width*/
#Flogo {
	width: 20%;
}
/*Article 1 Positioning*/
#divart1 {
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
#divart2 {
	margin-left: auto;
	margin-right: auto;
}
#article2 {
	margin-right: 5%;
}

#article3 {
	margin-left: 5%;
}

/* Image positioning and scaling*/
#imgart1 {
	width: 100%;
	height: auto;
	top: -10em;
	left: 0;
}
#imgart2 {
	width: 100%;
	height: auto;

}#imgart3 {
	width: 100%;
	height: auto;

}
#imgwrap {
	position: relative;
	overflow: hidden;
	height: 17em;
}
#imgwrap  img {
	position: absolute;
}

.artrow2 {
	width: 45%;
	float: left;
}

p {
	font-family: Tahoma, Geneva, sans-serif;
    letter-spacing: 0.2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}
/*article text font*/
#p-art {
	margin-top: 0;
	font-size: 21px;
}

/*h3 positioning and font*/
#header {
	display: inline-block;
	margin-top: 5%;
	padding-left: 15%;
	font-size: 18px;
	
}
#pfoot {
	    font-size: 16px;
   }

