
/*setting body max widht and center */
body {
	max-width: 960px;
	margin: auto;
}
/*formating nav bar lines */
li{
	display: inline-block;
	font-size: 1.5em;
	color: white;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-right: 4%;
}

/*header background color and margin*/
header {
	display: block;
	background-color:#CABBB7;
	margin-top: 1%;

}

/* navbar background color and text align*/
nav {
	display: block;
	background-color: #C65252;
	text-align: right;
	color: red;
}

/*footer background color, text align, padding */
footer {
	display: block;
	background-color: #CABBB7;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
}
/*h3 positioning and font*/
#header {
	display: inline-block;
	padding-top: 4%;
	padding-left: 15%;
	font-family: Tahoma, Geneva, sans-serif;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 20px;
	letter-spacing: 0.2px;
	word-spacing: 2px;
	color: #000000;
	font-weight: 400;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}

article {
	display: block;
	text-align: center;
	
}

footer {
	margin-bottom: 1%;
	display: inline-block;
}

/* h1 font and positioning */
div h1 {
	display:block;
	/*margin-top: 5%;
	margin-bottom: 5%;*/
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 60px;
	letter-spacing: 0.2px;
	word-spacing: 2px;
	color: #000000;
	font-weight: 700;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

/* Header Logo positioning and scaling*/
#Hlogo {
	padding-top: 2.2%;
	padding-right: 2%;
	width: 25%;
	height: auto;
	float: right;
}

#Flogo {
	width: 20%;
}




/*Article 1 Positioning*/
#article1 {
	display: block;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

#article2 {
	display: block;
	width: 30%;
	float: left;
	margin-left: auto;
	margin-right: auto;
}

#article3 {
	display: block;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	
}
#imgart1 {
	width: 100%;
	height: auto;

}
#imgart2 {
	width: 100%;
	height: auto;

}#imgart3 {
	width: 100%;
	height: auto;

}
.artrow2 {
	width: 30%;

}
/*article text font*/
#p-art {

	font-family: Tahoma, Geneva, sans-serif;
font-size: 18px;
letter-spacing: 0.2px;
word-spacing: 2px;
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
padding-top: -1%;
}